<% @page_title = "収入一覧" %>
<h2><%= @page_title %></h2>

<%= link_to "収入の新規登録", :new_revenue %>

<% if @revenues.present? %>
<table>
	<thead>
		<tr>
			<th>収入名</th>
			<th>金額</th>
			<th>備考</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<% @revenues.each do |revenue| %>
			<tr>
				<td><%= revenue.name %></td>
				<td><%= revenue.value %></td>
				<td><%= revenue.description %></td>
				<td>
				<%= link_to "編集", [:edit, revenue] %>
				<%= link_to "削除", revenue, method: :delete,
					data: { confirm: "本当に削除しますか？"} %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<% else %>
	<p>登録されている収入がありません。</p>
<% end %>