<%= link_to "支出一覧に戻る", :expenses %>
<table>
 <tr>
	 <th><%= form.label :name, "支出名" %></th>
	 <td><%= form.text_field :name %></td>
 </tr>
 <tr>
	 <th><%= form.label :value, "金額" %></th>
	 <td><%= form.number_field :value %></td>
 </tr>
 <tr>
	<th><%= form.label :description, "説明" %></th>
	<td><%= form.text_field :description %></td>
 </tr>
</table>